@model BEP.BL.Models.ForgotPasswordViewModel
@{
  ViewBag.Title = "Wachtwoord vergeten?";
}
<div class="container">
    <div class="row group-shadow">
        <div class="col-xs-12">
            <h1>@ViewBag.Title</h1>

            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
            @Html.AntiForgeryToken()
            <p class="subtitle-gray">Vul uw e-mailadres in.</p>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="row">
                    <div class="col-xs-12">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, "E-mail adres", new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-2">
                                <input type="submit" class="btn btn-primary" value="Stuur link" />
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
